{% extends "base.html" %}
{% block content %}
    {% for cssdata in cssdata %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Web ({{cssdata.location}})</th>
                        </tr>
                    </thead>
                      <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{cssdata.id}}</td>
                        </tr>
                        <tr>
                            <td>Browser</td>
                            <td>{{cssdata.browser}}</td>
                        </tr>
                        <tr>
                            <td>UserAgent</td>
                            <td>{{cssdata.ua}}</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>{{cssdata.os}}</td>
                        </tr>
                        <tr>
                            <td>Lang</td>
                            <td>{{cssdata.lang}}</td>
                        </tr>
                        <tr>
                            <td>Referrer</td>
                            <td>{{cssdata.referrer}}</td>
                        </tr>
                        <tr>
                            <td>Toplocation</td>
                            <td>{{cssdata.toplocation}}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{cssdata.location}}</td>
                        </tr>
                        <tr>
                            <td>Cookie</td>
                            <td>{{cssdata.cookie}}</td>
                        </tr>
                        <tr>
                            <td>Domain</td>
                            <td>{{cssdata.domain}}</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>{{cssdata.title}}</td>
                        </tr>
                        <tr>
                            <td>CPU cores</td>
                            <td>{{cssdata.cpucores}}</td>
                        </tr>
                        <tr>
                            <td>Body</td>
                            <td>{{cssdata.body}}</td>
                        </tr>
                        <tr>
                            <td>Session Storage</td>
                            <td>{{cssdata.sessionStorage}}</td>
                        </tr>
                        <tr>
                            <td>LocalStorage</td>
                            <td>{{cssdata.localStorage}}</td>
                        </tr>
                        <tr>
                            <td>Server Headers</td>
                            <td>{{cssdata.serverHeaders}}</td>
                        </tr>
                        <tr>
                            <td>Screen</td>
                            <td>{{cssdata.screen}}</td>
                        </tr>
                        <tr>
                            <td>Flash?</td>
                            <td>{{cssdata.flash}}</td>
                        </tr>
                        <tr>
                            <td>Login Data</td>
                            <td>{{cssdata.loginData}}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
